<h2>Home</h2>
<h3>Pick an animal using query string parameters!</h3>

<div>
    <div>
        <a href="/home/animal?animal=cat">cat</a>
    </div>
    <div>
        <a href="/home/animal?animal=dog">dog</a>
    </div>
</div>
<h3>Pick an animal using route parameters!</h3>
<div>
    <div>
        <a href="/home/animal/cat">cat</a>
    </div>
    <div>
        <a href="/home/animal/dog">dog</a>
    </div>
</div>
<h3>Manage Animals</h3>
<div>
    <div>
        <a href="/animals/index">View All Animals</a>
    </div>
    <div>
        <a href="/animals/new">Add New Animal</a>
    </div>
</div>
