<h2>Animals - Show</h2>
<p>
  <span>Name:</span>
  <%= @animal.name %>
</p>

<p>
  <span>Image:</span>
  <%= image_tag url_for(@animal.image) %>
</p>

<p>
  <span>Credit:</span>
  <%= @animal.credit %>
</p>
